@{
    ViewBag.Title = "Dashboard";
}
<h2 class="text-center">Dashboard</h2>

<div style="margin-top: 15px;">
    <a class="btn primary-btn btn-lg btn-block" role="button" href="@Url.Action("Index", "JourneySelection")">Select a Journey</a>
    <a class="btn primary-btn btn-lg btn-block" role="button" href="@Url.Action("Index", "UserTrainHistory")">My Games</a>
</div>