@model MindTheGap.Models.User
@{
    ViewBag.Title = "Login";
}
<style>    .keyimg {
        display: block;
        max-width:350px;
        width: auto;
        height: auto;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <img src="@Url.Content("~/Content/images/MindTheAppLogo.png")" class="keyimg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-warning" role="alert">@ViewBag.Error</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">

            @using (Html.BeginForm("Index", "Login",
                        new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "login-form" }))
            {
            
                <div class="row text-center">
                    @Html.TextBoxFor(m => m.UserName,new { @class = "form-control" ,placeholder = "Username"}) 
                </div>
                <br/>
                <div class="row text-center">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>

                <br />
                <div class="row">
                    <div class="col-sm">
                        <input type="submit" class="btn btn-success" value="Login / Sign up" />
                    </div>
                </div>
}
        </div>

    </div>
</div>
