@model MindTheGap.Models.User
@{
    ViewBag.Title = "Login";
}
<style>
    .keyimg {
        display: block;
        max-width: 80%;
        width: auto;
        height: auto;
    }
    .default-logo {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
            <img src="@Url.Content("~/Content/images/MindTheAppLogo.png")" class="keyimg" />
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-warning" role="alert">@ViewBag.Error</div>
            }
        </div>
    </div>


    @using (Html.BeginForm("Index", "Login",
                        new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "login-form" }))
    {

        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username", style = "margin:20px; margin-left:0px;" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", style = "margin:20px; margin-left:0px;" })
        <input type="submit" class="btn primary-btn btn-block" value="Login / Sign up" />
    }
</div>
