@model MindTheGap.Models.GameCompletionModel
@{
    ViewBag.Title = "Game Complete";
}

<h2>Game Complete</h2>
@Model.NumberAnsweredCorrectly / @Model.NumberOfQuestions

Total playing time: @Model.TotalDuration
<a href="/Leaderboard/ByTrain/@Model.TrainRid">View Leaderboard</a>