@model MindTheGap.Models.JourneySelectionModel

@{
    ViewBag.Title = "Select Your Journey";
}

<h2 class="text-center">Select Your Journey</h2>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(x => x.FromStationCode,
            (IEnumerable<SelectListItem>)ViewBag.FromStationList, new { @class = "form-control", style = "margin:20px; margin-left:0px;" })


    @Html.DropDownListFor(x => x.ToStationCode,
            (IEnumerable<SelectListItem>)ViewBag.ToStationList, new { @class = "form-control", style = "margin:20px; margin-left:0px;" })
    <input type="submit" class="btn primary-btn btn-block" value="Next" />
}
